@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Roboto&display=swap');
.App {
  width: 80%;
  margin: auto;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}
div#root {
  background-color: #d9f7ff;
}
header#header {
  background-image: url('./header_img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 545px;
}
h1#name, .lead {
  font-family: 'Ranchers', cursive;
  text-align: right;
  color: #89f749;
}
nav {
  text-align: end;
}
h2{
  font-family: 'Ranchers', cursive;
  padding-top: 30px;
  padding-bottom: 20px;
  color: #0a6325;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
li {
  display: inline-block;
  padding: 15px;
}
a {
  text-decoration: none;
  font-weight: 600; 
  color: #27ff00;
}
a:hover, a:focus {
  text-decoration: underline;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
footer {
  background-color: #47b8d8;
  padding: 20px;
}
footer a{
  color: #27ff00;
}